body {
  font-family: "Brandon Grotesque", AtlasGrotesk, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  color: #ec5c57;
}

input,
select {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border-color: gray;
}

.section {
  padding: 10px;
  font-size: 12px;
}

button {
  background-color: #ec5c57;
  border-radius: 20px;
  color: white;
  padding: 10px;
  width: 100px;
  border: none;
  text-transform: uppercase;
}

select {
  background-color: #f3f3f3;
}
