.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;
  position: relative;
}

#bulbasaur {
  top: 30px;
  right: 300px;
}

#charmander {
  top: 40px;
  right: 250px;
}

#squirtle {
  top: 80px;
  right: 200px;
}

#pikachu {
  top: 170px;
  right: 160px;
}

#jigglypuff {
  top: 300px;
  right: 120px;
}
