.container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.row {
  width: 60%;
  align-items: center;
}

.col-full {
  border: 5px solid black;
  height: 70vh;
}

.carousel-wrap {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  align-items: center;
}

.l-arrow-wrap,
.r-arrow-wrap {
  font-size: 3rem;
}

.l-arrow-wrap,
.r-arrow-wrap :hover {
  cursor: pointer;
}

.mid-col-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  margin-right: 10rem;
}

img {
  width: 100%;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.navBar:hover {
  cursor: pointer;
}
